.post{
    background: rgb(223, 223, 223);
    width: 30rem;
    margin-top: 3rem;
    
    
}

.navbar{
    display: flex;
    justify-content: center;
}


.navbar-titulo{
    width: 30rem;
    padding-bottom: 1rem;
    background: rgb(241, 241, 241);
    
    
   
}

h1{
    margin: 0;
}

.content{   
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.post-date{
    color: rgb(116, 116, 116);
}

.post-header{
    display: flex;
    justify-content: space-between;
    padding: 0 0.75rem;
}

img{
    width: 100%;
}

.post-footer{
    padding: 0 1rem 0.75;
    align-content: flex-start;
}

